.container-apartment-card {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 360px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  margin: 10px;
  padding: 25px;
}

.apartment-card-name {
  font-size: 96px;
  color: #333333;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: 25px;
}

.DTMF {
  font-weight: 600;
}

.apratment-card-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}