.container-apartment-card {
  display: flex;
  flex-direction: column;
  width: 360px;
  align-items: center;
  height: 355px;
  gap: 45px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  padding: 25px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  
  
  .apartment-card-name {
    font-size: 85px;
    color: $color-blue;
    text-align: center;
    font-weight: bold;
  
  }
  
  .DTMF {
    font-weight: 600;
  }
  
  .apratment-card-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.container-apartment-card:hover {
  transform: scale(1.01);
  box-shadow: 0 0 12px rgb(0, 0, 0, 0.3);
}