.container-apartment-card {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 300px;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  padding: 25px;
}

.apartment-card-name {
  font-size: 85px;
  color: #333333;
  text-align: center;
  font-weight: bold;

}

.DTMF {
  font-weight: 600;
}

.apratment-card-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}