

.property {
  display: flex;
  
  &__content {
    
    // Estilos para el header principal fijo
    > header {
      top: 0;
      left: 200px; // Mismo ancho que el margin-left del content
      right: 0;
      height: 80px; // Altura fija del header
      background: #fff;
      z-index: 100;
      border-bottom: 1px solid #e0e0e0;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    margin-bottom: 30px;

    .property__welcome {
      margin-left: 10px;
      font-size: 24px;
      font-weight: bold;
    }

    .property__actions {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: right ;
    }

    .property__add-property {
  padding: 10px 20px;
  border: 2px solid #98B600; // Color del borde
  border-radius: 8px;
  background: white; // Fondo blanco
  color: #98B600; // Color del texto
  cursor: pointer;
  font-weight: 500;

  &:hover {
    background: #98B600; // Fondo cambia al color del borde
    color: white; // Texto cambia a blanco
  }
}

  }

  &__properties {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 25px;
    padding: 20px 30px;
  }
}