.property-page {
    display: flex;
    flex-direction: column;
}

.property-title {
    font-size: 46px;
    font-weight: bold;
    margin: 30px 185px;
    display: flex;
    width: auto;
    height: 50px;
    align-items: center;
}

.property-gallery-section {
    display: flex;
    height: 640px;
    width: 1230px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 185px;    
}

.gallery-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
}

.image-wrapper {
    display: flex;
    flex-direction: row;
    width: 700px;   
    height: 500px;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.image-wrapper img:first-of-type {
    width: 100%;
    height: 360px;
}

.property-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 640px;
    width: 400px;
    overflow: auto;
    padding: 10px 0;
    gap: 20px;
}

.property-image {
    cursor: pointer;
    width: 220px;
    height: 120px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}

.action-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.property-info-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 185px 0;
    gap: 20px;
    
    strong {
        color: $color-blue;
    }
}

.info-header {
    font-size: 24px;
    font-weight: bold;
}

.info-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.details-container {
    display: flex;
    flex-direction: row;
    width: 300px;
    gap: 20px;
}

.details-group {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    justify-content: space-between;
    gap: 20px;
    flex-direction: column;
}

.apartments-section {
    display: flex;
    gap: 40px;
    flex-direction: column;
    margin: 70px 185px;
}

.apartments-title {
    font-size: 24px;
    font-weight: bold;
}
